
table {
    border: 1px solid black;
    width:50%;
    height:200px;


}
table th {
    // border:1px solid black;
    text-align: center;
    font-size: 20px;
    background: rgb(104, 107, 103);
    color: white;
}

table td{
    // border: 1px solid black;
    text-align    : center;
    background: rgb(149, 179, 243);
    font-size: 20px;
    
}